{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Language {{ language.name }}</h1>
    <p>{{ language.id }}. {{ language.name }}</p>
    <a href="/languages/edit?id={{ language.id }}">Edit</a>
    <form action="/languages/delete" method="POST">
        <input type="hidden" name="id" value="{{ language.id }}">
        <button>Delete</button>
    </form>
    <a href="/languages">Back</a>
{% endblock %}