{% for error in errors %}
    <p>{{error}}</p>
{% endfor %}

<form method="post">
	<input type="hidden" value="{{ user.id }}" name="id">

	<label for="firstname">Prénom</label>
	<input type="text" value="{{ user.firstname }}" name="firstname" id="firstname">

	<label for="lastname">Nom</label>
	<input type="text" value="{{ user.lastname }}" name="lastname" id="lastname">

	<label for="email">Email</label>
	<input type="text" value="{{ user.email }}" name="email" id="email">

	<label for="password">Mot de passe</label>
	<input type="password" value="" name="password" id="password">

	<label for="password2">Confirmer le mot de passe</label>
	<input type="password" value="" name="password2" id="password2">

	<label for="address">Adresse</label>
	<input type="text" value="{{ user.address }}" name="address" id="address">

	<button>Ajouter un étudiant</button>
</form>
