{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Images</h1>
    <ul>
        {% for image in images %}
            <li><a href="/images/show?id={{ image.image_id }}">{{ image.image_id }}. {{ image.url }} | training ID : {{ image.training_id }}</a></br>
            <img src="{{ image.url }}" alt="an image to link with one more trainings"></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/images/add">Ajouter</a>
{% endblock %}
